* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
	background-color: black;
	color: white;
}
a {
	text-decoration: none;
	color: inherit;
}
p {
	line-height: 24px;
}
#nav-links a {
	margin-left: 20px;
	font-size: 20px;
	font-family: "Open Sans", sans-serif;
	color: white;
	line-height: 1.2;
	text-decoration: none;
}

.icons i {
	margin-left: 20px;
	color: white;
}
#logo a {
	font-size: 38px;
	font-family: "Open Sans", sans-serif;
	font-style: bold;
	color: white;
	text-decoration: none;
}

#logo a::before {
	padding: 0;
	margin: 0;
	position: absolute;
	content: "";
	width: 67px;
	height: 67px;
	/* transform: scale(0.9); */
	background-color: rgb(17, 116, 158);
	z-index: -1;
}

header {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 100%;
	height: 115px;
	border-bottom: 1px solid rgba(124, 124, 124, 0.6);
}

#intro {
	padding-top: 115px;
	display: flex;
	flex-direction: column;
	align-items: center;
	/* justify-content: center; */
	background: black url(img/first-bg.png) top center no-repeat;
	/* background-color: red; */
	height: 880px;
}
#intro h1 {
	margin: 20vh 0 0 0;
	text-transform: uppercase;
	font-size: 150px;
	font-family: "Montserrat", sans-serif;
	color: white;
}

#intro p#creator {
	margin-top: 0;
	margin-left: 15px;
	text-transform: uppercase;
	font-size: 25px;
	letter-spacing: 17px;
	font-family: "Montserrat", sans-serif;
	color: rgb(17, 116, 158);
}

#intro p#downScroll {
	font-size: 20px;
	margin: 10vh 0 0 0;
	color: white;
}
#intro i {
	margin: 5vh 0 0 0;
	transform: scale(3);
	color: white;
}

#about {
	max-width: 1600px;
	height: 740px;
	background-color: rgb(17, 116, 158);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
#features {
	padding-bottom: 135px;
	display: flex;
	z-index: 2;
}

.feature {
	margin-right: 40px;
	width: 270px;
	min-height: 260px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.feature h3 {
	font-family: "Montserrat", sans-serif;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 18px;
}

#about .heading {
	margin-top: 5vh;
}

#about h1 {
	color: #3c8daf;
}

#about h2 {
	color: white;
}

.icon-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
}
.feature i {
	transform: scale(1.5);
	position: absolute;
	z-index: 3;
}

#circle {
	margin: 10px;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background-color: #2e85aa;
	z-index: 1;
}

.feature p {
	font-family: "Montserrat", sans-serif;
	font-weight: 200;
	padding: 10px;
	font-size: 13px;
	line-height: 1.6;
}

#news article {
	display: flex;
	height: 50vh;
}

#news article:nth-child(odd) {
	background-color: #222222;
}

#news article:nth-child(even) {
	flex-direction: row-reverse;
	background-color: #f3f3f3;
	color: #222222;
}

#news article img {
	width: 50%;
}

.news-block {
	padding: 80px 120px;
}

.news-block time {
	font-family: "Montserrat", sans-serif;
	font-weight: 400;
}

.news-block p {
	font-family: "Open Sans", sans-serif;
	font-weight: 200;
	margin-bottom: 20px;
}

.news-block h2 {
	text-transform: uppercase;
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
	margin-top: 5px;
	margin-bottom: 20px;
}

#blogArea {
	max-height: 1020px;
	margin: 0;
	background-color: #fff;
	padding-bottom: 5vh;
}

.heading {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.heading h1 {
	font-family: "Roboto Condensed", sans-serif;
	font-size: 250px;
	z-index: 0;
}

.heading h2 {
	position: absolute;
	font-size: 37.55px;
	z-index: 1;
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	text-transform: uppercase;
}

#blogArea .heading h1 {
	margin-top: 5vh;
	color: #d7d7d7;
}

#blogArea .heading h2 {
	padding-top: 30px;
	color: #222222;
}

.blogSubTitle {
	text-align: center;
	font-family: "Open Sans", sans-serif;
	color: black;
	font-size: 30px;
}

.blogs {
	display: flex;
	justify-content: space-evenly;
	margin: 68px 215px;
}
.blog {
	margin-left: 30px;
	max-width: 270px;
	text-align: center;
}
.blog:first-child {
	margin-left: 0;
}
.blog h4 {
	margin-top: 40px;
	text-transform: uppercase;
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
	color: #11749e;
	font-size: 18px;
}

.blog p {
	margin-top: 14px;
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	color: black;
	font-size: 15px;
}
#quickAction {
	display: flex;
	justify-content: space-between;
	background-color: #11749e;
	padding: 100px 150px;
}
.quickAction__inner {
	display: flex;
	align-items: center;
	max-width: 570px;
}

.quickAction__inner i {
	transform: scale(5);
}

.quickAction__text {
	font-family: "Open Sans", sans-serif;
	font-weight: 300;
	margin-left: 50px;
	font-size: 15px;
}

#keyFeature {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	max-width: 1600px;
	max-height: 850px;
	background: url(img/key-feature-bg.jpg);
	padding: 5vh 0;
}

.keyFeature__inner {
	width: 500px;
	height: 400px;
	/* margin: 220px 0px 0px 215px; */
	padding: 15px;
}

.keyFeature__title {
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 25px;
	text-transform: uppercase;
}

.keyFeature__text {
	margin: 40px 0 70px 0;
	font-family: "Open Sans", sans-serif;
	font-weight: 300;
	font-size: 15px;
	text-align: left;
}

.keyFeature {
	padding: 10px 15px;
	margin-top: 24px;
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 15px;
	text-transform: uppercase;
	background-color: #11749e;
}

.keyFeature:first-child {
	width: 70%;
}

.keyFeature:nth-child(2) {
	width: 80%;
}

.keyFeature:nth-child(3) {
	width: 90%;
}
